/* site-wide */
div#site_all{
	font-family: serif;
	font-size: 12pt;
	margin-left: 9%;
	margin-right: 9%;
}
a, a:visited {
	color: #004662;
}
a:hover, a:visited:hover {
	color: #0080b0;
	text-shadow: #006080 1px 0px;
}
a#site_nav_admin{
	color: #0099d7;
}
a#site_admin_flag, a#site_admin_queue{
	color: #336699;
}

select:focus,
textarea:focus,
input:focus {
    -moz-box-shadow: 0px 0px 5px #ffff80;
    -webkit-box-shadow: 0px 0px 5px #ffff80;
    box-shadow: 0px 0px 5px #ffff80;
}

/* quote-output styles */

div.quote_quote{
	font-family: courier new, lucida console, fixed;
	font-size: smaller;
	padding-bottom: 5pt;
}
.quote_separator { display: none; }
.quote_whole{
    padding: 1em 0.25em;
}
.quote_whole:nth-child(odd) {
	background-color:#f0f0f0;
}
a.quote_plus:hover {
  background-color:lightgreen;
  color: green;
  border: 1px inset lightgreen;
}
a.quote_plus {
  color: green;
  border: 1px outset lightgreen;
  display: inline-block;
  min-width: 1.25em;
  text-align:center;
  text-decoration: none;
  font-weight:bold;
}

a.quote_minus {
  color: red;
  border: 1px outset pink;
  display: inline-block;
  min-width: 1.25em;
  text-align:center;
  text-decoration: none;
  font-weight:bold;
}
a.quote_minus:hover {
  background-color:pink;
  color: red;
  border: 1px inset pink;
}

a.quote_flag {
  color: #808080;
  border: 1px outset black;
  text-decoration: none;
  display: inline-block;
  float:right;
  min-width: 1.25em;
  text-align:center;
}
a.quote_flag:hover {
  color: white;
  background-color: #808080;
  border: 1px inset black;
}

span.quote_flag {
  display:none;
}

span.quote_plus,
span.quote_minus,
span.quote_plus:hover,
span.quote_minus:hover {
  background-color:none;
  color: #c0c0c0;
  border: 1px outset #c0c0c0;
  display: inline-block;
  min-width: 1.25em;
  text-align:center;
  text-decoration: none;
  font-weight:bold;
}

/* searchpage */
input#search_query-box{
	background-color: #f0f0f0;
}
select#search_sortby-dropdown{
	background-color: #f0f0f0;
}
select#search_limit-dropdown{
	background-color: #f0f0f0;
}


/* home_*: styles for the default homepage */

.news_date{
	font-weight: bold;
}
#home_greeting{
	float: left;
	width: 50%;
}
#news {
	float: right;
	width: 50%;
}


/* *admin*: used on administration pages and admin-only content */

div#site_admin_nav{
	position: relative;
	margin-top: 90pt;
	clear: both;
	margin-top: -.1pt;
}
div#site_admin_nav_upper_linkbar{
	background-color: #f0f0f0;
}
div#site_admin_nav_lower_infobar{
	background-color: #0099d7;
	text-align: right;
}
html>body div#site_admin_nav{ /* hack for firefox, disabled in opera and ie */
	margin-top: 0pt;
}
.admin_queue tr:nth-child(odd) {
	background-color: #ffffff;
}
.admin_queue tr {
	background-color: #f0f0f0;
}
.admin_queue .quote_delete label,
.admin_queue .quote_unflag label,
.admin_queue .quote_no label,
.admin_queue .quote_yes label {
  display:block;
}
.admin_queue .quote_delete label:hover,
.admin_queue .quote_no label:hover {
  background-color:pink;
}
.admin_queue .quote_unflag label:hover,
.admin_queue .quote_yes label:hover {
  background-color:lightgreen;
}


input#admin_login_username-box{
	background-color: #f0f0f0;
}
input#admin_login_password-box{
	background-color: #f0f0f0;
}
input#admin_login_submit-button{
	background-color: #0099d7;
}


/* site_nav_*: navigation on the top, for everyone */

div#site_nav_lower{
	background-color: #f0f0f0;
}
div#site_nav_lower_linkbar{
	clear: both;
	text-align: right;
}
div#site_nav_upper{
	background-color: #0099d7;
	padding: 3px;
}
div#site_nav_upper_qms{
	position: relative;
	z-index: 1;
	float: left;
	font-size: 14pt;
	font-weight: bold;
	font-style: italic;
}
div#site_nav_upper_qms-long{
	position: relative;
	z-index: 1;
	float: right;
	font-weight: bold;
	font-size: 15pt;
}
div#site_nav{
	position: relative;
	z-index: 0;
}


/* user-based functions */
div#add_outputmsg_quote{
	padding-top: 10pt;
	font-family: monospace;
	padding-bottom: 10pt;
}



div.quote_pagenums{
	text-align: center;
}
