/* site-wide */
div#site_all{
	font-family: serif;
	font-size: 12pt;
	margin-left: 9%;
	margin-right: 9%;
}
a, a:visited, a:hover, a:visited:hover{
	color: #c08000;
}
a#site_nav_admin{
	color: #c08000;
}
a#site_nav_logout{
	color: #000000;
}
a#site_admin_flag, a#site_admin_queue{
	color: #336699;
}


/* quote-output styles */

div.quote_quote{
	font-family: courier new, lucida console, fixed;
	font-size: smaller;
	padding-bottom: 5pt;	
}
div.quote_whole{
	padding-top: 10pt;
	padding-left:0.25em;
	padding-right:0.25em;
}
div.quote_whole:nth-child(odd) {
	background-color:#f0f0f0;
}
.quote_plus {
  color: green;
  display: inline-block;
  min-width: 1.25em;
  text-align:center;
}
.quote_plus:hover {
  background-color:lightgreen;
}
 
.quote_minus {
  color: red;
  display: inline-block;
  min-width: 1.25em;
  text-align:center;
}
.quote_minus:hover {
  background-color:pink;
}
/* searchpage */
input#search_submit-button{
	background-color: #c08000;
}
input#search_query-box{
	background-color: #f0f0f0;
}
select#search_sortby-dropdown{
	background-color: #f0f0f0;
}
select#search_limit-dropdown{
	background-color: #f0f0f0;
}


/* home_*: styles for the default homepage */

div.home_news_date{
	font-weight: bold;
}
div#home_greeting{
	float: left;
	width: 50%;
}
div#home_news{
	float: right;
	width: 50%;
}


/* *admin*: used on administration pages and admin-only content */

div#site_admin_nav{
	position: relative;
	margin-top: 90pt;
	clear: both;
	margin-top: -.1pt;
}
div#site_admin_nav_upper_linkbar{
	background-color: #f0f0f0;
}
div#site_admin_nav_lower_infobar{
	background-color: #c08000;
	text-align: right;
}
html>body div#site_admin_nav{ /* hack for firefox, disabled in opera and ie */
	margin-top: 0pt;
}
.admin_queue tr:nth-child(odd) {
	background-color: #ffffff;
}
.admin_queue tr {
	background-color: #f0f0f0;
}
.admin_queue .quote_delete label,
.admin_queue .quote_unflag label,
.admin_queue .quote_no label,
.admin_queue .quote_yes label {
  padding: 1em;
}
.admin_queue .quote_delete label:hover,
.admin_queue .quote_no label:hover {
  background-color:pink;
}
.admin_queue .quote_unflag label:hover,
.admin_queue .quote_yes label:hover {
  background-color:lightgreen;
}


input#admin_login_username-box{
	background-color: #f0f0f0;
}
input#admin_login_password-box{
	background-color: #f0f0f0;
}
input#admin_login_submit-button{
	background-color: #c08000;
}


/* site_nav_*: navigation on the top, for everyone */

div#site_nav_lower{
	background-color: #f0f0f0;
}
div#site_nav_lower_linkbar{
	clear: both;
	text-align: right;
}
div#site_nav_upper{
	background-color: #c08000;
	padding: 3px;
}
div#site_nav_upper_qms{
	position: relative;
	z-index: 1;
	float: left;
	font-size: 14pt;
	font-weight: bold;
	font-style: italic;
}
div#site_nav_upper_qms-long{
	position: relative;
	z-index: 1;
	float: right;
	font-weight: bold;
	font-size: 15pt;
}
div#site_nav{
	position: relative;
	z-index: 0;
}


/* user-based functions */
div#add_outputmsg_quote{
	padding-top: 10pt;
	font-family: monospace;
	padding-bottom: 10pt;
}



div.quote_pagenums{
	text-align: center;
}
